@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", sans-serif;
}


nav a.active {
    border-bottom: 1px solid #000;
}

aside a.active {
    background-color: #d1d5db;
}

.hero-swiper .swiper-pagination-bullet {
    background-color: gray;
    opacity: 1;
}

.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #c81e1e;
}